@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


*{
    --color-outline: #041f27;
    font-family: "Poppins", sans-serif;
    color: var(--color-outline);
}

.AboutSeanContent{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: 20px;
    min-width: 350px;
    

}

.SeanAbout{
    flex: 1 1 45%;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    border-radius: 10%;
    text-align: center;
}

.SeanPhoto{
    flex: 1 1 45%;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
}

.SeanLinkPhoto{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    border-radius: 10%;
}

.photo-section h2 {
    text-align: center;
    margin-top: 20px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}

.photo {
    flex: 1 1 45%; /* Allows two images to sit side by side */
    margin: 10px;
    max-width: 45%;
    max-height: 20em;
    object-fit: cover;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional shadow for better image visibility */
    border-radius: 5%;
}

.FooterContent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.FooterContactMe{
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    border-radius: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 1em;
}

.AboutSeanContent, .SeanAbout, .SeanPhoto, .photo-section {
    margin: 0 20px; /* Provides padding on smaller screens */
}

/* Specific Media Query for Mobile Devices */
@media (max-width: 600px) {
    .AboutSeanContent, .SeanAbout, .SeanPhoto, .SeanLinkPhoto {
        flex: 0 0 100%; /* Overrides the flex property to take full width */
        max-width: 100%; /* Ensures each section uses the full width available */
        margin: 10px 0; /* Adjusts margin for mobile layout */
    }

    .SeanAbout, .SeanPhoto img, .photo-container img {
        width: 100%; /* Full width for images */
    }

    .photo-container {
        flex-direction: column; /* Stacks images vertically */
    }

    .photo {
        max-width: 100%; /* Full width for individual photos */
    }

    h2, p {
        padding: 0 20px; /* Adds horizontal padding for better text alignment */
    }
}


@media (max-width: 600px) { 
    .photo {
        flex-basis: 100%;
        max-width: 100%;
    }
    .SeanLinkPhoto{
        display: none;
    }
    .SeanAbout{
        justify-content: center;
        flex: 1 1 100%;
    }
} 